extends layout

block nav.faq
  li.active
    a(href='/faq') faq

block content
  div.container
    div
      p.lead 一、如何重启服务器？
      p 登录服务器后（网页登录或者ssh登录)，敲入命令: www.reboot
    div
      p.lead 二、下载文件保存在哪里？
      p 下载的文件存放在: <a target='_blank' href='/downloads/'>#{info.download_dir}</a>
    div
      p.lead 三、如何删除下载任务？
      p 登录服务器后（网页登录或者ssh登录)，敲入命令: rpc del <任务id>。任务id就是tasks区下载文件名前的序号。
    div
      p.lead 四、<a href='http://code.google.com/p/wallproxy-plus'>wallproxy</a>如何配置
      ol
        li 下载wallproxy 2.1.14.4:
          a(href='http://goo.gl/dFtij') http://goo.gl/dFtij
        li 解压文件，进入local目录
        li 下载
          a(href='/wallproxy/proxy.ini') proxy.ini
          |和
          a(href='/wallproxy/gui.ini') gui.ini
          |，覆盖local目录的2个同名文件。
    div
      p.lead  五、<a href='http://code.google.com/p/goagent'>goagent</a>如何配置
      ol
        li 下载goagent 2.1.12:
          a(href='https://nodeload.github.com/goagent/goagent/legacy.zip/2.0') https://goo.gl/sxgfB
        li 解压文件，进入local目录
        li 下载
          a(href='/goagent/proxy.ini') proxy.ini
          |，覆盖local目录的同名文件。
    div
      p.lead 六、如何通过putty登录服务器
      ol
        li putty下载页面: http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html
          br
          |下载putty.exe: http://the.earth.li/~sgtatham/putty/latest/x86/putty.exe
        li 下载本服务器putty密钥:
          a(href='/dotcloud.ppk') dotcloud.ppk
        li 运行putty.exe
          div
            div a.选择密钥
            img(src='/img/putty1.png')
            div b.填写登录用户名
            img(src='/img/putty2.png')
            div c.填写登录服务器地址、端口
            pre(style='width:400px')
              |Host Name:
              strong #{info.ssh_host}
              |
              |Port:
              strong #{info.ssh_port}
              |
              |Saved Sessions:
              strong #{info.appname}
            img(src='/img/putty3.png')
        li 保存后，双击<strong>#{info.appname}</strong>即可ssh登录本服务器
    div
      p.lead 七、登录服务器后如何批量删除文件
      p.
        unix的删除文件命令是rm，删除目录是：rm -rf &lt;目录名&gt;，支持通配符*。举例:<br>
        rm file1 file2 file3 (删除文件file1,file2,file3)<br>
        rm *abc* (删除文件名包含abc的所有文件)<br>
        rm -rf abc (删除目录abc)<br>
        <br>
        这是文件名相对简单的情况，对于中英日混杂的文件名，则tab补完文件名或复制(Ctrl+&lt;Insert&gt;)粘帖(Shift+&lt;Insert&gt;)大法。<br>
        例如文件：[20041009](一般小説)[村上春樹]ノルウェイの森.zip<br>
        敲入命令：rm [20041&lt;Tab键&gt; (unix会自动补完整个文件名)<br>
        或者在putty登录后(网页登录方式不支持复制粘帖)，按着鼠标左键选择整个文件名，Ctrl+&lt;Insert&gt;, rm&lt;空格&gt;&lt;双引号&gt;Shift+&lt;Insert&gt;&lt;双引号&gt;

    div
      p.lead 八、unix如何解压文件
      p.
        rar文件的解压：unrar x &lt;文件名&gt;<br>
        zip文件的解压：unzip &lt;文件名&gt;
