extends layout

block nav.info
  li.active
    a(href='/info') info 

block content
  div.container
    div.alert.alert-info
      strong host's info
      pre
        |ssh: #{conf.ssh_url}
        |proxy: #{conf.proxy_url}
        |goagent: #{conf.http_url}agentfetch
        |wallproxy: #{conf.http_url}wallfetch
    div.alert.alert-info
      form#form1(method='post')
        strong y2proxy.ini
        input.btn.btn-primary(type='submit',value='save') 
        textarea#ini(name='ini',rows='20',style='width:100%')=conf.ini
