extends layout

block nav.info
  li.active
    a(href='/info') info 

block content
  div.container
    div.alert.alert-info
      strong host's info
      pre
        |ssh: #{conf.ssh_url} 
        a(href='/dotcloud.ppk') [dotcloud.ppk]
        | 
        |proxy: #{conf.proxy_url}
        |goagent: #{conf.http_url}agentfetch 
        a(href='/goagent/proxy.ini') [proxy.ini]
        | 
        |wallproxy: #{conf.http_url}wallfetch 
        a(href='/wallproxy/proxy.ini') [proxy.ini]
        a(href='/wallproxy/gui.ini') [gui.ini]
    //-div.alert.alert-info
      form#form1(method='post')
        a.btn.btn-mini.btn-primary(href='/y2proxy_ini') 样本文件
        strong y2proxy.ini
        input.btn.btn-primary(type='submit',value='保存') 
        textarea#ini(name='ini',rows='20',style='width:100%')=conf.ini
